NET "clk" LOC = T9;
NET "vga_B[6]" LOC = B5;
NET "vga_B[5]" LOC = A5;
NET "vga_B[4]" LOC = B6;
NET "vga_B[3]" LOC = B7;
NET "vga_B[2]" LOC = A7;
NET "vga_B[1]" LOC = B8;
NET "vga_B[0]" LOC = A8;
NET "vga_G[6]" LOC = D7;
NET "vga_G[5]" LOC = D8;
NET "vga_G[4]" LOC = C9;
NET "vga_G[3]" LOC = D10;
NET "vga_G[2]" LOC = A3;
NET "vga_G[1]" LOC = B4;
NET "vga_G[0]" LOC = A4;
NET "vga_R[6]" LOC = D5;
NET "vga_R[5]" LOC = C5;
NET "vga_R[4]" LOC = D6;
NET "vga_R[3]" LOC = C6;
NET "vga_R[2]" LOC = E7;
NET "vga_R[1]" LOC = C7;
NET "vga_R[0]" LOC = C8;
NET "vga_HS" LOC = A9;
NET "vga_VS" LOC = B10;


NET "uart_rx" LOC = T13;
NET "uart_tx" LOC = R13;
NET "ps2_clock_pin" LOC = M16;
NET "ps2_data_pin" LOC = M15;
NET "buzzer" LOC = E6;
NET "audio_out[7]" LOC = A10;
NET "audio_out[6]" LOC = B11;
NET "audio_out[5]" LOC = B12;
NET "audio_out[4]" LOC = A12;
NET "audio_out[3]" LOC = B13;
NET "audio_out[2]" LOC = A13;
NET "audio_out[1]" LOC = B14;
NET "audio_out[0]" LOC = D9;


NET "rst_button" LOC = L14;


NET "vga_B[6]" IOSTANDARD = LVCMOS25;
NET "vga_B[6]" SLEW = FAST;
NET "vga_B[5]" SLEW = FAST;
NET "vga_B[4]" SLEW = FAST;
NET "vga_B[3]" SLEW = FAST;
NET "vga_B[2]" SLEW = FAST;
NET "vga_B[1]" SLEW = FAST;
NET "vga_B[0]" SLEW = FAST;
NET "vga_G[6]" SLEW = FAST;
NET "vga_G[5]" SLEW = FAST;
NET "vga_G[4]" SLEW = FAST;
NET "vga_G[3]" SLEW = FAST;
NET "vga_G[2]" SLEW = FAST;
NET "vga_G[1]" SLEW = FAST;
NET "vga_G[0]" SLEW = FAST;
NET "vga_R[6]" SLEW = FAST;
NET "vga_R[5]" SLEW = FAST;
NET "vga_R[4]" SLEW = FAST;
NET "vga_R[3]" SLEW = FAST;
NET "vga_R[2]" SLEW = FAST;
NET "vga_R[1]" SLEW = FAST;
NET "vga_R[0]" SLEW = FAST;
NET "vga_HS" SLEW = FAST;
NET "vga_VS" SLEW = FAST;

# PlanAhead Generated physical constraints 

NET "buttons[7]" LOC = K13;
NET "buttons[6]" LOC = K14;
NET "buttons[5]" LOC = J13;
NET "buttons[4]" LOC = J14;
NET "buttons[3]" LOC = H13;
NET "buttons[2]" LOC = H14;
NET "buttons[1]" LOC = G12;
NET "buttons[0]" LOC = F12;
